filebeat.inputs:
  - type: log
    paths:
    - /var/lib/docker/volumes/*/_data/cowrie.json
    tags: ["cowrie"]
  - type: log
    paths:
    - /var/lib/docker/volumes/*/_data/dionaea.json
    tags: ["dionaea"]
    

processors:
  - drop_fields:
      fields: ["ecs.version","agent.ephemeral_id", "agent.hostname", "agent.id", "agent.type", "agent.version", "input.type", "log.offset", "version", "host.name"]

output.logstash:
  hosts: ["logstash:5044"]
  protocol: http
  

logging.to_files: false
logging.to_syslog: false
loggins.metrice.enabled: false
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7
  permissions: 0644
ssl.verification_mode: none